@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@300;400&display=swap');
*{
	margin: 0;
	padding: 0;
	
}
.content{
	background-color: #F0F0F0;
	padding-bottom: 92.5vh;
	padding-top: 50px;

}
.container{
    background: #fff;
    border-radius: 5px;
    height: 595px;
	width: 510px;
    margin-top: 15px;
    left: 50%;
    position: absolute;
    transform: translate(-50%);
    /*padding-top: 20px;
    padding-right: 10px;
    padding-left: 10px;
    margin-left: 500px;*/
    /*margin-right: 500px;*/
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.main{
	margin-left: 28px;
	height: 60px;
	border: none;
	margin-top: 30px;
}
li{
	list-style: none;
	display: inline-flex;
	margin-left: 18px;	
	margin-top: 38px;
}
a{
	text-decoration: none;
	margin-left: 18px;
}
.man{
	width: 30px;
	height: 20px;
	margin-right: 1px;
	border: 1px solid grey;
	border-radius: 6px;
	padding-left: 24px;
	padding-right: 21px;
	padding-bottom: 10px;
	padding-top: 10px;
}
.man:hover{
	border-color: blue;
}

.man1:hover{
	border-color: blue;
}

.man2:hover{
	border-color: blue;
}

.man1{
	width: 50px;
	height: 16px;
	margin-right: 1px;
	border: 1px solid grey;
	border-radius: 6px;
	padding-left: 13px;
	padding-right: 13px;
	padding-bottom: 12px;
	padding-top: 12px;
}


.man2{
	width: 57px;
	height: 16px;
	margin-right: 1px;
	border: 1px solid grey;
	border-radius: 6px;
	padding-left: 13px;
	padding-right: 13px;
	padding-bottom: 12px;
	padding-top: 13px;
}
/*.some-class {
    float: left;
    clear: none;
    margin-left: 19px;
}
    
 label {
    margin-top: 20px;
    float: left;
    clear: none;
    display: block;
    padding: 0px 1em 0px 8px;
    font-weight: bold;
    font-family: sans-serif;
}
    
input[type=radio],
input.radio {
    margin-top: 20px;
    float: left;
    clear: none;
    margin-left: 21px;
    background-color: yellow;
}*/



/*.label{
	position: absolute;
	margin-left: 27px;
	padding-top: 7px;
	padding-bottom: 5px;
	color: blue;
	font-size: 14px;
	font-weight: lighter;
}*/

.container1 {
  display: inline-flex;
  position: relative;
  padding-left: 35px;
  margin-top: 19px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 17px;
  margin-left: 35px;
  font-weight: bold;
  font-family: sans-serif;
}

/* Hide the browser's default radio button */
.container1 input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container1:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container1 input:checked ~ .checkmark {
  background-color: red;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container1 input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container1 .checkmark:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}

.input{
	margin-top: 20px;
	padding-right: 210px;
	padding-left: 20px;
	padding-top: 28px;
	padding-bottom: 10px;
	border-radius: 8px;
	border: 0.5px solid grey;
	margin-left: 32px;
	font-size: 18px;
	outline: none !important;
	font-family: 'Open Sans', sans-serif;
}

/*.input1{
	margin-top: 20px;
	padding-right: 205px;
	padding-left: 20px;
	padding-top: 28px;
	padding-bottom: 10px;
	border-radius: 8px;
	border: 0.5px solid grey;
	margin-left: 20px;
	font-size: 18px;
	outline: none !important;
	font-family: 'Raleway', sans-serif;
}*/
.input:hover{
	border-color: blue;
}
.input1:hover{
	border-color: blue;
}

.input:focus{
	border: 0.5px solid blue;
}
.input1:focus{
	border: 0.5px solid blue;
}


/*.last input{
	padding-right: 25px;
	padding-left: 20px;
	padding-top: 28px;
	padding-bottom: 10px;
	border-radius: 8px;
	border: 0.5px solid grey;
}*/
/*.label1{
	position: relative;
	color: grey;
	font-size: 14px;
	font-weight: lighter;
}*/



.row{
    display: inline-flex;
}
.row input{
	padding-right: 8px;
	padding-left: 20px;
	padding-top: 28px;
	padding-bottom: 10px;
	border-radius: 8px;
	border: 0.5px solid grey;
	outline: none !important;
	font-size: 16px;
	font-family: 'Raleway', sans-serif;
}

.row input:focus{
	border: 0.5px solid blue;
}

.label1{
	position: absolute;
	color: blue;
	font-size: 14px;
	font-weight: lighter;
	padding-top: 7px;
	margin-top: 20px;
	padding-bottom: 5px;
	padding-left: 10px;
	margin-left: 34px;
	font-family: sans-serif;
}

.label{
	position: absolute;
	margin-left: 34px;
	padding-top: 7px;
	padding-bottom: 5px;
	color: blue;
	font-size: 14px;
	margin-top: 20px;
	padding-left: 10px;
	font-weight: lighter;
	font-family: sans-serif;
}
button{
	margin-left: 35px;
	margin-top: 30px;
	padding-right: 175px;
	padding-left: 160px;
	padding-top: 16px;
	padding-bottom: 18px;
	border-radius: 8px;
	background-color: blue;
	border: none;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
}













/*span.isvalid:after
{
  content: '✓';
  color: blue;
  }
 span.notvalid:after{
     content: '×';
   
 } */

/*.isvalid input[name=username]{
	border: 2px solid green;
}
.notvalid input[name=username]{
	border: 2px solid red;
}*/










/*@media(max-width: 900px){
	.content{
	background-color: #F0F0F0;
	padding-bottom: 90.5vh;

}
.container{
    background: #fff;
    height: 580px;
	width: 433px;
    left: 7%;
}
.main{
	margin-left: 20px;
	height: 60px;
	border: none;
	margin-top: 30px;
}

li{
	margin-left: 10px;
}
a{
	margin-left: 10px;
}
.some-class {
    margin-left: 1px;
}
    
input[type=radio],
input.radio {
    margin-left: 17px;
}

.input{
	padding-right: 174px;
	padding-left: 20px;
	margin-left: 20px;
	font-family: 'Raleway', sans-serif;
}
.row input{
	padding-left: 1px;
}
.label1{
	padding-top: 7px;
	padding-bottom: 5px;
	margin-left: 27px;
}

.label{
	margin-left: 27px;
	padding-top: 7px;
	padding-bottom: 5px;
}
button{
	margin-left: 20px;
	margin-top: 30px;
	padding-right: 120px;
	padding-left: 160px;
	padding-top: 16px;
	padding-bottom: 10px;
	background-color: blue;
}
}*/














